footer{
  padding-bottom: 60px;
}

h2{  
  font-size: 54px;
  text-align: center;
  margin: 0 0 50px;
}

.contacts{
  margin: 0 50px;
  padding: 0 0 50px;
  display: flex;
  justify-content: center;
}

.contacts > div{ width: 300px;  margin: 0 30px;}
.contacts > div > h3{
  background-color: hotpink;
  padding: 10px;
  font-size: 24px;
}
.contacts > div > h3::after{
  display: inline-block;
  position: relative;
  top: 5px;
  width: 28px;
  height: 28px;
  background-size: cover;
  content: '';
}

.contacts > div > p{
  border: 1px solid white;
  border-top: none;
  padding: 10px;
}