.main__headline{
  text-align: center;
  padding-top: 350px;
  font-size: 72px;
  color:black;
  opacity: 1;
  animation: headlight 3s ease 0s infinite alternate-reverse;
}
header{
  z-index: 99;
  position: sticky;
  top: 0;
}
.nav-bar{
  background-color: hotpink;
  height: 100px;
  text-align: center;
  padding-top: 40px;
}
.nav-item{
  display: inline-block;
  margin: 0 10px;
  font-size: 24px; color: white;
}
a{
  color: inherit;
  text-decoration: none;
}
.nav-item > a:hover{
  color: gray;
  border-bottom: 5px solid gray;
}

@keyframes headlight{
  from{text-shadow: 0px 0px 20px white;}
  to{text-shadow: 0px 0px 3px white;}
}