@font-face {
  font-family: 'SDKukdetopokki-Lt';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SDKukdetopokki-Lt'
}
html, body{
  width: 100%;
  height: 100%;
}
#container{
  width: 100%;
  height: 100%;
}
.main{
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../asset/images/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section, footer{
  color: white; background-color:gray;
}
article:first-child{  
  padding: 60px;
}
