article:nth-child(3) > h2{  
  font-size: 54px;
  text-align: center;
  margin: 0 0 50px;
}
article:nth-child(3){
  position: relative;
  height: 700px;
  padding-bottom: 60px;
}
.single-items{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* each-item */
.item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item > div{
  margin: 30px;
  width: 280px;
}

.item > div > h1{
  font-size: 32px;
  margin-bottom: 20px;
}
.item > div > p{
  font-size: 20px;
  margin: 10px 0;
}

.active{
  height: 500px;
  width: 750px;
}

ul[class="stepper"]{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul[class="stepper"] > li{
  display: inline-block;
  margin: 0 5px;
}
.active-step{
  color:hotpink;
}
button, button:active, button:focus{
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
  width: 50px; height: 20px;
  border: none; background-color: transparent;
  color: hotpink;
  outline: none;
}
button:hover{
  color: white;
}
button:disabled{
  color: lightgray;
}
.prev{
  left: 30px;
}
.next{
  right: 30px;
}